.chessboard {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.board-row {
  display: flex;
  flex-wrap: nowrap;
}

.square {
  background: #fff;
  border: 1px solid #999;
  height: 60px;
  width: 60px;
  margin: auto;
}

.square:focus {
  outline: none;
  box-shadow: inset 0px 0px 0px 0.4vmin yellow;
}