/* forcing vertical scroll */

html {
    /* overflow-y: scroll; */
}

.section {
    padding: 2rem 0 2rem;
    text-align: center;
}

.section-heading, .section-description {
    margin-bottom: 3rem;
}

.required {
    color: #FF6000;
}

/* value-img */

.value-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

/* docs */

.docs-section {
    border-top: 1px solid #eee;
    margin-top: 30px;
    margin-bottom: 0;
}

.docs-terms {
    font-size: 1.2rem;
    letter-spacing: .2rem;
    font-weight: 800;
}

.fieldset-section {
    width: 90%;
    margin-left: 10px;
    margin-top: 10px;
    margin: 0;
}

/* Content link */

.content-link {
    background: #eee;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: .1rem;
    margin: 5px;
    text-decoration: none;
    color: #33C3F0;
}

.content-link:hover {
    color: #33C3F0;
    border-bottom: 2px solid #33C3F0;
}

@media (min-width: 550px) {
    .content-link {
        font-size: 1.8rem;
    }
    .content-link:hover {
        border-bottom: 3px solid #33C3F0;
    }
}